{
   "globals": {
      "$": true,
      "$()": true,
      "document": true,
      "window": true,
      "angular": true,
      "browser": true,
      "node": true,
      "console": false,
      "alert": false,
      "blocJams": true
    },
   "rules": {
      "quotes": [2, "single", "avoid-escape"],
      "func-names": 0,
      "func-style": [0, "declaration"],
      "curly": [1, "all"],
      "no-unused-vars": [2, {"vars": "local", "args": "none"}]
    }
}
