
 <div class='hero-content'> <!-- Hero content -->
   <div class='container'>
     <h1> {{ titleText }} </h1>
     <h3> {{ subText }} </h3>
     <!--  h3 ng_click="subTextClicked()"> {{ subText }} </h3  -->
   </div>
 </div>

 <div class='selling-points container'> <!-- selling points -->
   <div class='row'>
     <div class='point col-md-4'>
       <h5> Choose your music </h5>
       <p> The world is full of music — why should you have to pay a service just to listen to music? </p>
     </div>
     <div class='point col-md-4'>
       <h5> Free, unlimited, streaming, ad-free </h5>
       <p> No arbitrary limits. No distractions. No cost. </p>
     </div>
     <div class='point col-md-4'>
       <h5>Mobile enabled</h5>
       <p> Listen to your music on the go. This streaming service is available on all mobile platforms.</p>
     </div>
   </div>
 </div>

<div class="landing-album-list container">
    <div class="row" data-ng-repeat="row in albumURLs">
        <div  class="col-md-4" data-ng-repeat="albumURL in row">
            <div class="flipcontainer" ng-class="{flipper: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false;">
            <!--  div class="flipcontainer" ng-mouseover="this.classList.toggle('hover'); this.classList.toggle('focus'); this.classList.toggle('active');"  -->
                <div class="flipper">
                    <div class="front">
                        <img  ng-src="{{albumURL}}">
                    </div>
                    <div class="back">
                        <h2 class="album-back-cover"> Double Sextet / 2x5</h2>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
