$bg-color: #2F1D57;

.hero-content {
    background: $bg-color;
    padding: 100px 0;
    background-color: $bg-color;

    h1 {
        font-size: 70px;
        margin-bottom: 50px;
        font-weight: 300;
    }
} /* .hero-content */

.selling-points {
    padding: 100px 0;

    .point {
        width: 33.3%;
        float: left;
        padding: 0 2%;

        h5 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            height: 85px;
        }

        p {
            font-size: 14px;
        }
    }  /*.point */
} /* .selling-points */

div.selling-points div.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

div.point p {
    margin-left: 10px;
}
.album-back-cover {
    text-align: center;
    padding-top: 20px;
}
.flip-container {
    perspective: 1000;
} /* used with flipping album cover */

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container:focus .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 400px;
    height: 400px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #ccc;
}
